@model MNF4.ViewModels.ContactFormViewModel
@using MNF4.Models

<script type="text/javascript">
jQuery(function($){
   $("#Phone").mask("(999) 999-9999");
   $("#ZipCode").mask("99999?-9999");
});
</script>
              
    <div class="editor-label">
        *@Html.LabelFor(model => model.FirstName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>

    <div class="editor-label">
        *@Html.LabelFor(model => model.LastName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </div>

    <div class="editor-label">
        *@Html.LabelFor(model => model.EmailAddress)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.EmailAddress)
        @Html.ValidationMessageFor(model => model.EmailAddress)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.optIn)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.optIn)&nbsp; 
        @Html.ValidationMessageFor(model => model.optIn)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Address)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Address)
        @Html.ValidationMessageFor(model => model.Address)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.City)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.City)
        @Html.ValidationMessageFor(model => model.City)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.State)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.State, StatesDictionary.StateSelectList)
        @Html.ValidationMessageFor(model => model.State)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.ZipCode)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.ZipCode, new { @id="ZipCode"})
        @Html.ValidationMessageFor(model => model.ZipCode)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Phone)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Phone, new { @id="Phone", @type="tel"}) 
        @Html.ValidationMessageFor(model => model.Phone )
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Comments)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Comments)
        @Html.ValidationMessageFor(model => model.Comments)
    </div>
