@{
    ViewBag.Title = "Celiac Programs";
    ViewBag.Description = @"Nutrition therapy and programs for dealing with Celiac disease include the Gluten Free 
Jump Start and 5 Step Formula for Overcoming Celiac.";
}
<h1>Celiac Programs</h1>

<h3>3 Step Gluten Free Jump Start Program</h3>
<p>
    Are you feeling overwhelmed trying to learn all the forms gluten can take and deciphering
    whether or not foods and drinks have it?&nbsp; Is eating out scary?&nbsp; Do you
    need help finding gluten free toothpaste, soap, and cosmetics?
</p>

<h3>Celiac Case Studies</h3>
<div>(Click for more details)</div>
<div class="accordion">
    <h3 class="CaseHeading">Case Study - Joe G.:  77 year old male, diagnosed with celiac</h3>
    <div>
        <p class="CaseDetails">
            Joe G. was diagnosed with celiac in early 2008, after suffering from several health
            problems in 2007 (including prostate cancer and a urinary tract infection) resulting
            in a weight loss of more than 40 pounds.&nbsp; He started working with Christine
            Marquette March 9, 2010 at which time he weighed 158 pounds and had a BMI of 22.2
            and was still losing weight.&nbsp; After working with Christine, he began incorporating
            different foods, making sure to meet all of his nutrient needs, which immediately
            stabilized his weight.&nbsp; He and his wife learned exactly how to read food labels
            and became familiar with gluten-free brands to use, as well as how to handle eating
            out.&nbsp; He also learned how to deal with setbacks and how to avoid them in the
            future.&nbsp; By August 3, 2010 he had finally gained 4 pounds, and his BMI was
            now 23.0.&nbsp; This weight gain was evidence that his villi had finally healed
            significantly, allowing his body to absorb nutrients.
        </p>
    </div>
</div>

<div>
    <p>
        If, like Joe, you need help learning what you can and cannot eat, as well as how
        to eat out and which cosmetics/toiletries to use, this program is for you.&nbsp;
        It will give you the jump start you need on celiac!
    </p>
    <p>Over three appointments you can expect to:</p>
    <ul>
        <li>Feel relief in knowing how to avoid gluten</li>
        <li>Choose foods with confidence</li>
        <li>Get the hang of how to eat out safely</li>
        <li>Overcome symptoms of celiac, such as:
            <ul>
                <li>diarrhea</li>
                <li>bloating</li>
                <li>fatigue </li>
                <li>weakness</li>
            </ul>
        </li>
        <li>Master a gluten free lifestyle in the quickest and easiest way</li>
    </ul>
    
    <p>Here is what you can expect to receive in your Celiac Jump Start Program:</p>
    <ul>
        <li>Cheat Sheet of common gluten containing foods to avoid</li>
        <li>List of "go to" naturally gluten free foods to choose from</li>
        <li>List of gluten free cosmetics, toiletries, and supplements</li>
        <li>List of local gluten free restaurants you can safely eat at</li>
        <li>Basic nutritional analysis of a one-day food log, which will include:
            <ul>
                <li>Daily calorie level</li>
                <li>Percentages of carbohydrates, proteins, fats</li>
                <li>Overall average for these nutrients</li>
            </ul>
        </li>
        <li>One day personalized gluten free menu or eating guide utilizing recommendations
            made based on initial assessment and one day food log analysis</li>
        <li>Three visits:
            <ul>
                <li>Initial 60 to 90 minute evaluation of pertinent medical history, nutritional intake, etc.</li>
                <li>Two 30- to 45-minute follow up visits</li>
            </ul>
        </li>
        <li>Personalized menu template or guide to design your own menus</li>
        <li>Personalized goal sheet with a continuing action plan </li>
    </ul>
    <p>
        Don't wait another day!&nbsp; @Html.ActionLink("Contact us now", "Index", "Contact")
        to set up your program and get a jump start on your gluten free lifestyle!
    </p>
    <p>
        Still not certain this is the right program for you?&nbsp; Then 
        @Html.ActionLink("fill out our online questionnaire", "StrategySession", "Survey") to apply for a FREE tele-strategy session.
    </p>
</div>

<h3>5 Step Formula for Overcoming Celiac</h3>
<p>
    Do you already know the basics of a gluten free diet, but feel like you need more
    support?&nbsp; Are you still fearful about your health?&nbsp; Do you want to feel
    more in control of your nutrition and fitness?&nbsp; Then take charge of your health
    with our 5 Step Formula for Overcoming Celiac!
</p>

<div>(Click for more details)</div>
<div class="accordion">
    <h3 class="CaseHeading">Case Study - Crystal B.:  33 year old female, diagnosed with celiac</h3>
    <div>
        <p class="CaseDetails">Crystal was diagnosed with celiac 2 years prior to her first appointment with Christine Marquette.
        </p>
        <p class="CaseDetails">
            She presented with active Candida, low levels of many nutrients (vitamins B12 and
            D, omega 3, etc.), lack of energy, and additional lab work showing many food sensitivities
            at the time of her first appointment September 19, 2011.&nbsp; Her past history
            included frequent colds as a child; ovarian cysts, fibroids, and endometriosis.&nbsp;
            She and her husband were also actively trying to have a child.&nbsp; Christine taught
            Crystal how to incorporate an anti-Candida protocol along with a gluten-free diet
            that avoided her other foods sensitivities as well by providing example menus, food
            lists, and meal planning guides.&nbsp; Six weeks after her initial appointment,
            Crystal learned that she was 5 weeks pregnant!&nbsp; Christine modified Crystal's
            eating plan and provided guides showing Crystal how to add calories and nutrients
            as needed for the duration of her pregnancy.&nbsp; Because of her pregnancy, her
            last two appointments were spread out to cover the entire pregnancy.&nbsp; By her
            last appointment, Crystal was able to overcome the Candida, replenish her nutrient
            stores, and deliver a healthy baby girl!
        </p>
    </div>
</div>
<div>
    <p>
        You may not have all the issues Crystal did, but if you are NOT newly diagnosed,
        yet are still struggling with your health or feel like you need additional help,
        this is the program for you.
    </p>

    <p>
        By the time you complete this 6 month program, you will receive all the benefits
        of the 3 Step Gluten Free Jump Start Program as well as:
    </p>
    <ul>
        <li>Fine Tune your eating plan</li>
        <li>Uncover any nutritional deficiencies </li>
        <li>Improve your health</li>
        <li>Transform your fitness</li>
    </ul>

    <p>
        You can expect to receive the following in your 5 Step Formula for Overcoming Celiac:
    </p>
    <ul>
        <li>Everything in the 3 Step Gluten Free Jump Start Program, plus</li>
        <li>Complete nutritional analysis of a one week food log prior to starting your program, which will include:
            <ul>
                <li>Calorie intake</li>
                <li>Percentages of carbohydrates, proteins, fats</li>
                <li>Vitamin and mineral intake</li>
            </ul>
        </li>
        <li>Evaluation of lab work brought in by you (e.g. complete metabolic panel, lipid panel, etc.)</li>
        <li>Evaluation of current fitness level and development of an initial fitness plan OR strategies to improve current fitness plan</li>
        <li>In office demonstration of exercises</li>
        <li>Photos/PDFs of exercises if needed</li>
        <li>2 Additional 30 to 45 minute follow up visits</li>
        <li>Recommendations for supplements, if needed</li>
        <li>List of resources for special needs (recommended specialty food brands, stores, etc.)</li>
        <li>Personalized menu template or guide to help you design your own menus</li>
    </ul>
    <p>
        Are you ready to overcome celiac?&nbsp; Then @Html.ActionLink("contact us today", "Index", "Contact") to get started!
    </p>
    <p>
        Still have questions?&nbsp; @Html.ActionLink("Fill out our online questionnaire", "StrategySession", "Survey")
        to apply for a FREE tele-strategy session.
    </p>
</div>


<h3>Celiac VIP Program</h3>
<p>
    Have you been strictly following a gluten free lifestyle, but still not feeling
    as healthy as you should?&nbsp; Do you suspect you may have additional food sensitivities?
</p>

<div>(Click for more details)</div>
<div class="accordion">
    <h3 class="CaseHeading">Case Study - Kelly D.:  28 year old female and newly diagnosed with celiac</h3>
    <div>
        <p class="CaseDetails">
            Kelly was newly diagnosed with celiac when she initially saw Christine and implemented
            the 5 Step Formula for Overcoming Celiac.&nbsp; At her first appointment, she presented
            with low vitamin D and low platelets, but did not have test results for other nutrients.&nbsp;
            She also had a lot of dental problems, bone and muscle pain.&nbsp; She had many
            obvious signs of nutrient malabsorption which indicated a need for digestive enzymes.&nbsp;
            She also went through periods of ups and downs where she would seem to be doing
            well for a few weeks/months, then start having digestive complaints such as bloating,
            nausea, etc.&nbsp; Her weight also began to dip too low.&nbsp; We moved her into
            the VIP program, did additional food sensitivity testing, implemented the FODMAPS
            protocol, and tested for stomach acidity.&nbsp; Eventually through the help of a
            new GI doctor, an additional diagnosis was determined (gastroparesis) which enabled
            Christine to modify Kelly's nutrition plan accordingly.&nbsp; Kelly has now re-gained
            weight that was lost, is absorbing her nutrients, and finally feeling better.
        </p>
    </div>
</div>
<div>
    <p>
        If, like Kelly, you feel like you have done all you can with the gluten free diet
        and are still having health problems, then the Celiac VIP Program is what you need.&nbsp;
        @Html.ActionLink("Contact us ", "Index", "Contact") for details.
    </p>
</div>

<h3>ebooks</h3>
<p>
    Not ready for one-on-one sessions?&nbsp; Then check out our eBook and audio 
    @Html.ActionLink("Celiac Boot Camp: Everything You Need to Know to Survive and Thrive", "Celiac", "ebooks").&nbsp; 
    This will allow you to start improving your gluten free lifestyle at your own pace.
</p>
