@{
    ViewBag.Title = "PCOS Programs";
    ViewBag.Description = @"If you are ready to overcome your PCOS and live life as it should be, 
try either our 5 Step or 7-Step nutritional programs for overcoming PCOS";
}

<h1>Polycystic Ovarian Syndrome (PCOS) Programs</h1>

<h3>5 Step Method for Overcoming PCOS</h3>

<p>Are you fearful about your health?&nbsp; Confused by all the conflicting nutrition information you've read online?</p>

<div class="accordion">
    <h3 class="CaseHeading">Case Study - Amber H:  32 year old female, married and wanting to start a family</h3>
    <div>
        <p class="CaseDetails">
            Amber was initially seen by Christine January 19, 2009 after being newly diagnosed
            with PCOS (which occurred at an annual exam after discussing with her doctor her
            struggles trying to conceive).&nbsp; Christine started by teaching Amber exactly
            how PCOS effects your body and how to manage it, including which foods are most
            helpful and how to plan balanced meals.&nbsp; Her cycles became regular again, her
            blood pressure decreased, and she lost weight.&nbsp; By her fourth appointment,
            Amber had become pregnant!&nbsp; Amber had some ups and downs during her pregnancy,
            but ultimately gave birth to a baby girl who is now a healthy, thriving toddler.
        </p>
    </div>
</div>

<div>
    <p>
        Do you feel like Amber: ready to improve your diet, but not sure where to start?&nbsp;
        Then the 3-Step Method for Overcoming PCOS is perfect for you!
    </p>
    <p>You will learn how to fine tune your nutrition to start achieving the results you want.</p>
    <p>At the end of this 90-day program you will:</p>

    <ul>
        <li>Increase your energy</li>
        <li>Know what types of foods you should be eating and which foods to avoid</li>
        <li>Understand how to incorporate physical activity into your daily life</li>
        <li>Have a plan to reach your health and weight management goals</li>
    </ul>
    <p>
        How do we do this?&nbsp; By bringing to light what is holding you back, then designing
        a program especially for you!
    </p>
    <p>Here are some of the things you can expect to receive in your personalized program:</p>
    <ul>
        <li>Evaluation of lab work brought in by you (e.g. complete metabolic panel, lipid panel, etc)</li>
        <li>Instruction on carbohydrate counting and label reading</li>
        <li>Complete nutritional analysis of a 3 day food log, consisting of:
            <ul>
                <li>Daily calorie level</li>
                <li>Macronutrient percentages (percentages of carbohydrates, proteins, fats)</li>
                <li>Micronutrient intake (vitamins, minerals) and what percentages of the recommended daily allowance are achieved</li>
                <li>Overall average for these nutrient categories.</li>
                <li>Two weeks of personalized menus OR guide sheets and “mix and match” food lists</li>
            </ul>
        </li>
        <li>5 Visits
            <ul>
                <li>One 60 to 90 minute initial evaluation of pertinent medical history, physical activity,
                    social history, nutritional intake, etc.&nbsp; We use this information, along with
                    your current food log, to develop your personalized plan.</li>
                <li>Four 30- to 45-minute follow up visits.&nbsp; In each visit, we continue to adjust
                    your plan as needed to help you achieve your goals.</li>
            </ul>
        </li>
        <li>Lists of food sources for any nutrients that were found to have been low in your 3 day food log</li>
        <li>List of resources for special needs (e.g. personal chef services, recommended specialty food brands and stores, etc.)</li>
        <li>Supplement recommendations, if applicable</li>
        <li>Personalized menu template to help you develop your own menus</li>
        <li>Tips for increasing your physical activity</li>
        <li>Goal sheet and action plans to help you continue your journey</li>
    </ul>
    <p>
        BONUS:&nbsp; Fast action takers will also get a FREE Mediator Release Test (MRT)
        to further individualize their program.
    </p>
    <p>
        Don't wait another day!&nbsp; @Html.ActionLink("Contact us now", "Index", "Contact")
        to set up your program and start overcoming PCOS!
    </p>
    <p>
        Still not certain this is the right program for you?&nbsp; Then @Html.ActionLink("fill out our online questionnaire", "StrategySession", "Survey") 
        to apply for a FREE tele-strategy session.
    </p>
</div>

<h3>7-Step Blueprint for Banishing PCOS</h3>

<p>Do you feel like you already eat healthy and exercise, but are not getting the results you want?</p>

<div class="accordion">
    <h3 class="CaseHeading">Case Study - Alicia J.: 25 year old female, diagnosed with PCOS, BMI = 33.7</h3>
    <div>
        <p class="CaseDetails">
            Alicia was first seen by Christine June 14, 2011 about 8 months after her initial
            diagnosis (which took 4 different doctors to obtain).&nbsp; She had been following
            a low calorie diet (about 1100 to 1300 calories) and working out at a gym, but still
            could not lose weight and was not seeing improvement in her PCOS symptoms.&nbsp;
            Christine used genetic testing to analyze the patient's DNA and designed an eating
            an exercise plan specifically for her body type.&nbsp; After implementing her program,
            Alicia lost a significant amount of weight.&nbsp; She continued her journey using
            the tools taught to her by Christine and about 10 months after initially starting
            her program she had lost almost 60 pounds, achieved a normal BMI, and was able to
            discontinue her metformin.
        </p>
    </div>
</div>

<div>
    <p>
        If you are ready to overcome your PCOS just like Alicia, then take charge of your
        health and live life as it should be with our 7-Step Blueprint for Banishing PCOS.
    </p>
    <p>You will get the tools you need to overcome obstacles that have prevented you from turning around your diet and exercise plan.</p>
    <p>By the end of this 6-month program you will:</p>

    <ul>
        <li>Master your fitness plan</li>
        <li>Make certain you are eating right for your body type</li>
        <li>Have the energy to do get it all done </li>
        <li>Feel better than ever</li>
        <li>Transform you life!</li>
    </ul>

    <p>To begin this metamorphosis, you will start with a FREE DNA analysis (Gene SNP).</p>
    <p>This test will uncover exactly what types of exercises are right for you, and exactly what type of eating plan you need to be on.</p>
    <p>Here’s what else you will receive to complete your makeover:</p>

    <ul>
        <li>Evaluation of lab work brought in by you (e.g. complete metabolic panel, lipid panel, etc)</li>
        <li>Complete nutritional analysis of a one week food log, which will include: 
            <ul>
                <li>Daily calorie level</li>
                <li>Macronutrient percentages (percentages of carbohydrates, proteins, fats)</li>
                <li>Micronutrient intake (vitamins, minerals) and what percentages of the recommended daily allowance are achieved</li>
                <li>Overall average for these nutrient categories.</li>
                <li>Guide on how to read your lab work</li>
            </ul>
        </li>
        <li>6 Visits
            <ul>
                <li>One 60 to 90 minute initial evaluation of pertinent medical history, physical activity,
                    social history, nutritional intake, etc.&nbsp; We use this information along with
                    your current food log to develop your personalized plan.</li>
                <li>Five 30- to 45-minute follow up visits.&nbsp; In each visit, we continue to adjust
                    your plan as needed to help you achieve your goals.</li>
                <li>One check-in each week via text message or email (based on your preference)</li>
            </ul>
        </li>
        <li>Recommendations for supplements, if needed</li>
        <li>1 Month supply of recommended supplements, if applicable  </li>
        <li>Lists of food sources for any nutrients that were found to have been low in the your food log</li>
        <li>Three weeks of personalized menus including “day specific” tips, if applicable OR guide sheets and “mix and match” food lists</li>
        <li>Personalized menu template to help you develop your own menus </li>
        <li>Evaluation of current fitness plan and strategies to improve it, OR development of an initial fitness plan </li>
        <li>In office demonstrations of exercises for plan (if needed)</li>
        <li>Photos/PDFs via email demonstrating exercises (if needed)</li>
        <li>Goal sheet and action plans to keep things under control</li>
    </ul>

    <p>Are you ready to banish your PCOS?&nbsp; Then @Html.ActionLink("contact us today", "Index", "Contact") to get started!</p>
    <p>
        Still have questions?&nbsp; @Html.ActionLink("Fill out our online questionnaire", "StrategySession", "Survey")
        to apply for a FREE tele-strategy session.
    </p>
</div>

<h3>PCOS VIP Program</h3>

<p>Are you ready to take your health and fitness to the next level?</p>
<p>
    If you need more specialized help due to a variety of conditions, the VIP Program is just what you need.&nbsp; 
    @Html.ActionLink("Contact us ", "Create", "Contact") for details.
</p>

<h3>ebooks</h3>
<p>
    Not ready for one-on-one sessions?&nbsp; Then @Html.ActionLink("check out our ebooks and audios on PCOS", "PCOS", "ebooks"),  
    which enable you to start learning at your own pace.
</p>




