@{
    ViewBag.Title = "Sports Nutrition Programs";
    ViewBag.Description = @"Eat right to increase your energy and reach your competition goals with our 
Jumpstart, Power thru Plateaus, or VIP Sports Nutrition programs.";
}

<h1>Sports Nutrition Programs</h1>

<h3>Jumpstart Program</h3>
<p>Are you an endurance athlete, feeling confused by all of the nutrition and fitness advice you hear?</p>
<p>Do you need to make some changes to your eating habits, but are not sure where to begin?</p>

<div>(Click for more details)</div>
<div class="accordion">
    <h3 class="CaseHeading">Case Study - Monique C.:  41 year old female, cyclist and ultra marathon runner, BMI = 23.8</h3>
    <div>
        <p class="CaseDetails">
            Monique's goals were to optimize her nutrition in order to sustain her long workouts
            while decreasing her body fat and weight.&nbsp; Christine first saw Monique July
            26, 2012.&nbsp; After analyzing Monique's food log, Christine found that she was
            low in several different nutrients that would have a direct impact on her performance,
            as well as her ability to decrease her body fat.&nbsp; Christine provided Monique
            with a personalized 3-day menu and guide to take into account all the nutrients
            Monique would need depending on her workouts and rest days.&nbsp; By the end of
            Monique's program, she had more energy, recovered more quickly from her workouts,
            and was able to decrease her body fat as evidenced by a loss in inches.
        </p>
    </div>
</div>

<div>
    <p>
        If, like Monique, you need some help refining your sports nutrition plan, then this
        program will give you the jumpstart that you need!&nbsp; This 60-day program will
        teach you how to makeover your current diet to start improving your performance.
    </p>
</div>

<div>
    <p>At the end of this 60-day program, you will:</p>
    <ul>
        <li>Increase your energy</li>
        <li>Know what types of foods you should be eating</li>
        <li>Understand how to time your meals and snacks for optimum performance</li>
        <li>Have a plan to reach your competition goals</li>
    </ul>
    <p>
        How do we do this?&nbsp; By designing a program especially for you!&nbsp; Here are
        some of the things you can expect to receive:
    </p>
    <ul>
        <li>Basic nutritional analysis of a one day food log, which will include:
            <ul>
                <li>Daily calorie level</li>
                <li>Macronutrient percentages (percentages of carbohydrates, proteins, fats)</li>
                <li>Overall average for these nutrient categories.</li>
            </ul>
        </li>
        <li>3 day personalized menu or eating guide utilizing recommendations made based on
            initial assessment and one day food log analysis</li>
        <li>Day 1:  Workout Day</li>
        <li>Day 2:  Rest Day</li>
        <li>Day 3:  Race Day</li>
        <li>3 visits
            <ul>
                <li>One 60-minute initial evaluation of pertinent medical history, physical activity,
                    social history, nutritional intake, etc.&nbsp; We use this information, along with
                    your current food log, to develop your personalized plan.</li>
                <li>Two 30-minute follow up visits.&nbsp; In each visit, we continue to adjust your
                    plan as needed to help you achieve your goals.</li>
            </ul>
        </li>
        <li>Personalized menu template or guide to help you design your own menus</li>
        <li>Personalized goal sheet with a continuing action plan giving you tips for moving forward</li>
        <li>Tips for pre-workout and pre-race snacks</li>
        <li>List of sports nutrition supplements to consider, if needed</li>
    </ul>
    <p>@Html.ActionLink("Contact us", "Index", "Contact") to request this program and jump start your life today!</p>
    <p>
        Still not sure if this is the right program for you?&nbsp; Then 
        @Html.ActionLink("fill out our online questionnaire", "StrategySession", "Survey") to apply for a FREE tele-strategy session.
    </p>
</div>

<h3>Power Thru Plateaus Program</h3>
<div>
    <p>
        Do you have a training and eating plan, but are not getting the results you want?&nbsp;
        Are you running out of energy during workouts or in competition?&nbsp; Is your performance
        not improving the way you think it should?
    </p>
    <p>
        Our Power Thru Plateaus Program will uncover what is holding you back then re-calibrate
        your eating and exercise plans.&nbsp; The result?&nbsp; Transformation of your nutrition
        and fitness!
    </p>
    <p>You will learn how to fine tune your eating and exercise plans to start achieving the results you want.</p>
    
    <p>At the end of this 90-day program you will:</p>
    <ul>
        <li>Gain energy</li>
        <li>Increase stamina</li>
        <li>Learn how to overcome negative seasonal influences</li>
        <li>Understand how to “cycle” your eating and exercise plans</li>
        <li>Have strategies for dealing with potential obstacles</li>
    </ul>
    <p>Your personalized program to power thru your plateaus includes:</p>
    <ul>
        <li>A complete nutritional analysis of a 3 day food log, consisting of: 
            <ul>
                <li>Daily calorie level</li>
                <li>Macronutrient percentages (percentages of carbohydrates, proteins, fats)</li>
                <li>Micronutrient intake (vitamins, minerals) and what percentages of the recommended daily allowance are achieved</li>
                <li>Overall average for these nutrient categories.  </li>
            </ul>
        </li>
        <li>A one-week personalized menu including “day specific” tips, if applicable OR guide sheets and “mix and match” food lists</li>
        <li>4 visits 
            <ul>
                <li>One 60 to 90 minute initial evaluation of pertinent medical history, physical activity,
                    social history, nutritional intake, etc.&nbsp; We use this information, along with
                    your current food log, to develop your personalized plan.</li>
                <li>Three 30- to 45-minute follow up visits.&nbsp; In each visit, we continue to adjust
                    your plan as needed to help you achieve your goals.</li>
            </ul>
        </li>
        <li>Lists of food sources for any nutrients that were found to have been low in your 3 day food log</li>
        <li>Supplement recommendations, if applicable </li>
        <li>Personalized menu template to help you develop your own menus</li>
        <li>Goal sheet and action plans to help you continue your journey</li>
    </ul>
    <p><strong>BONUS:</strong>&nbsp; Fast action takers will also get a FREE DNA test (Gene SNP) to further individualize their program.</p>
    <p>
        Don't wait another day!&nbsp; @Html.ActionLink("Contact us now", "Index", "Contact")
        to set up your program and start powering thru those plateaus!
    </p>
    <p>
        Still not certain this is the right program for you?&nbsp; Then 
        @Html.ActionLink("fill out our online questionnaire", "StrategySession", "Survey") to apply for a FREE tele-strategy session.
    </p>
</div>

<h3>VIP Program</h3>
<p>Are you ready to take your health and fitness to the next level?</p>
<div>(Click for more details)</div>
<div class="accordion">
    <h3 class="CaseHeading">Case Study - Jody K.:  73 year old female, triathlete, BMI = 28.7</h3>
    <div>
        <p class="CaseDetails">
            Jody was dealing with food allergies and weight gain when she first saw Christine
            July 27, 2011.&nbsp; At that time her goals were to lose 30 pounds, determine if
            a vegetarian or vegan diet was right for her, and possibly get tested for food allergies.&nbsp;
            After her initial consultation, Christine and Jody decided to proceed with food
            sensitivity testing.&nbsp; After one week, she had lost four pounds and decreased
            symptoms related to food sensitivities by 57%.&nbsp; After 12 weeks on her initial
            program, she had lost a total of 17 pounds and her BMI was 26.0. She then took a
            few months off from direct support but found that she needed some additional help.&nbsp;
            When Jody signed up for more intense support related specifically to weight loss
            and sports performance in February, 2012 her BMI had gone back up to 28.1&nbsp;
            By August, her BMI was in the normal range and she had lost 24 pounds!&nbsp; While
            she has had some ups and downs over the past few months, she has still been able
            to maintain a normal BMI and overall weight loss of 20 pounds since February.&nbsp;
            In addition, she has set personal records in several events, including a 10K running
            only race October 7, 2012 where she hit her fastest pace in 5 years!&nbsp; And the
            week prior to that 10K, she finished her triathlon season by completing the Kerrville
            Quarter Iron with paces faster in all 3 disciplines (swimming, biking, and running)
            then in a previous, shorter distance race!
        </p>
    </div>
</div>
<p>
    Want to start setting your own personal records?&nbsp; @Html.ActionLink("Contact us ", "Index", "Contact")
    for details on our VIP Program and find out how!
</p>
