@{
    ViewBag.Title = "Plant-Based Nutrition Programs";
    ViewBag.Description = @"Starting a Plant-based diet? Our 3 and 5-Step programs  will teach you how to makeover 
your current diet to start improving your health and wellness.";
}

<h1>Plant-Based Nutrition Programs</h1>

<h3>3-Step Formula for a Plant-Based Diet: </h3>
<div>
    <p>Do you want to make some changes to your eating habits, but are not sure where to begin?</p>
    <p>Are you interested in implementing a plant-based diet, but feeling overwhelmed by all of the nutrition advice you hear about it?</p>
    <p>
        Then this program will give you the jumpstart that you need!&nbsp; This 60-day program
        will teach you how to makeover your current diet to start improving your health
        and wellness.
    </p>
    <p>At the end of this 60-day program, you will:</p>
    <ul>
        <li>Increase your energy</li>
        <li>Know what types of foods you should be eating</li>
        <li>Understand how to incorporate physical activity into your daily life</li>
        <li>Have a plan to reach your health and weight management goals</li>
    </ul>
    <p>
        How do we do this?&nbsp; By designing a program especially for you!&nbsp; Here are
        some of the things you can expect to receive:
    </p>

    <ul>
        <li>Basic nutritional analysis of a one day food log, which will include:
            <ul>
                <li>Daily calorie level</li>
                <li>Macronutrient percentages (percentages of carbohydrates, proteins, fats)</li>
                <li>Overall average for these nutrient categories.</li>
            </ul>
        </li>
        <li>1 day personalized menu or eating guide utilizing recommendations made based on
            initial assessment and one day food log analysis</li>
        <li>3 visits
            <ul>
                <li>One 60-minute initial evaluation of pertinent medical history, physical activity,
                    social history, nutritional intake, etc.&nbsp; We use this information, along with
                    your current food log, to develop your personalized plan.</li>
                <li>Two 30-minute follow up visits.&nbsp; In each visit, we continue to adjust your
                    plan as needed to help you achieve your goals.</li>
            </ul>
        </li>
        <li>Personalized menu template or guide to help you design your own menus</li>
        <li>Personalized goal sheet with a continuing action plan giving you tips for moving forward</li>
        <li>Tips for increasing your physical activity</li>
    </ul>

    <p>@Html.ActionLink("Contact us", "Index", "Contact") to request this program and jump start your life today!</p>
    <p>
        Still not sure if this is the right program for you?&nbsp; Then 
        @Html.ActionLink("fill out our online questionnaire", "StrategySession", "Survey") to apply for a FREE tele-strategy session.
    </p>
</div>

<h3>5-Step Blueprint for Mastering a Plant-Based Diet</h3>

<div>
    <p>Have you already been exercising and eating a plant-based diet, but still not getting the results you want?</p>
    <p>
        Our 5-Step Blueprint for Mastering a Plant-Based Diet will uncover what is holding
        you back then re-calibrate your eating and exercise plans.&nbsp; The result?&nbsp;
        Transformation of your nutrition and fitness!
    </p>
    <p>You will learn how to fine tune your eating and exercise plans to start achieving the results you want.</p>

    <p>At the end of this 90-day program you will:</p>
    <ul>
        <li>Gain strength</li>
        <li>Increase stamina</li>
        <li>Understand how to “cycle” your eating and exercise plans</li>
        <li>Have strategies for dealing with potential obstacles</li>
        <li>Get the hang of how to keep things under control</li>
    </ul>
    
    <p>Your personalized program to master your plant-based diet includes:</p>
    <ul>
        <li>A complete nutritional analysis of a 3 day food log, consisting of:
            <ul>
                <li>Daily calorie level</li>
                <li>Macronutrient percentages (percentages of carbohydrates, proteins, fats)</li>
                <li>Micronutrient intake (vitamins, minerals) and what percentages of the recommended daily allowance are achieved</li>
                <li>Overall average for these nutrient categories.</li>
            </ul>
        </li>
        <li>A one-week personalized menu including “day specific” tips, if applicable OR guide sheets and “mix and match” food lists</li>
        <li>4 visits
            <ul>
                <li>One 60 to 90 minute initial evaluation of pertinent medical history, physical activity,
                    social history, nutritional intake, etc.&nbsp; We use this information, along with
                    your current food log, to develop your personalized plan.
                </li>
                <li>Three 30- to 45-minute follow up visits.&nbsp; In each visit, we continue to adjust
                    your plan as needed to help you achieve your goals.
                </li>
            </ul>
        </li>
        <li>Lists of food sources for any nutrients that were found to have been low in your 3 day food log</li>
        <li>Supplement recommendations, if applicable</li>
        <li>Personalized menu template to help you develop your own menus</li>
        <li>Goal sheet and action plans to help you continue your journey</li>
    </ul>
    
    <p><strong>BONUS:</strong>&nbsp; Fast action takers will also get a FREE DNA test (Gene SNP) to further individualize their program.</p>

    <p>
        Don't wait another day!&nbsp; @Html.ActionLink("Contact us today", "Index", "Contact") to
        set up your program and become a master at plant-based eating!
    </p>
    <p>
        Still not certain this is the right program for you?&nbsp; Then 
        @Html.ActionLink("fill out our online questionnaire", "StrategySession", "Survey") to apply for a FREE tele-strategy session.
    </p>
</div>

<h3>VIP Program</h3>
<div>
    <p>
        Are you ready to take your health and fitness to the next level?&nbsp; 
        @Html.ActionLink("Contact us ", "Index", "Contact") for details.
    </p>
</div>
