@{
    ViewBag.Title = "Weight Management Programs";
    ViewBag.Description = @"Our 3-Step Weight Loss Formula, Customized Weight Loss Blueprint for Life, or VIP Programs 
will help you turn around your diet and exercise plan.";
}

<h1>Weight Management Programs</h1>

<h3>3-Step Weight Loss Formula</h3>

<div>
    <p>Do you feel like you need to lose a few pounds, but don't want to follow a strict diet or "generic" weight loss plan?</p>
    <p>Are you ready to make some improvements to your eating and exercise habits, but not sure where to start?</p>
    <p>Our 3-Step Weight Loss Formula is just what you need to get started.</p>
    <p>This 60-day program will teach you how to makeover your current diet to start losing weight now.</p>
    <p>At the end of this 60-day program, you will:</p>
    <ul>
        <li>Increase your energy</li>
        <li>Gain self-confidence</li>
        <li>Know how to balance your meals so you feel satisfied</li>
        <li>Understand how to incorporate physical activity into your daily life</li>
        <li>Have a plan to reach your weight management goals</li>
    </ul>

    <p>
        How do we do this?&nbsp; By designing a program especially for you!&nbsp; Here are
        some of the things you can expect to receive:</p>
    <ul>
        <li>Basic nutritional analysis of a one day food log, which will include: 
            <ul>
                <li>Daily calorie level</li>
                <li>Macronutrient percentages (percentages of carbohydrates, proteins, fats)</li>
                <li>Overall average for these nutrient categories.</li>
            </ul>
        </li>
        <li>One day personalized menu or eating guide utilizing recommendations made based on initial assessment and one day food log analysis</li>
        <li>3 visits
            <ul>
                <li>One 60 to 90 minute initial evaluation of pertinent medical history, physical activity,
                    social history, nutritional intake, etc.&nbsp; We use this information, along with
                    your current food log, to develop your personalized plan.</li>
                <li>Two 30-minute follow up visits.&nbsp; In each visit, we continue to adjust your plan as needed to help you achieve your goals.</li>
            </ul>
        </li>
        <li>Personalized menu template or guide to help you design your own menus</li>
        <li>Personalized goal sheet with a continuing action plan giving you tips for moving forward</li>
        <li>Tips for increasing your physical activity</li>
    </ul>
    <p>@Html.ActionLink("Contact us ", "Index", "Contact") to request this program and start losing weight today!</p>
    <p>
        Still not certain this is the right program for you?&nbsp; Then 
        @Html.ActionLink("fill out our online questionnaire", "StrategySession", "Survey") to apply for a FREE tele-strategy session.
    </p>
</div>

<h3>Customized Weight Loss Blueprint for Life</h3>
<div>
    <p>
        Do you feel like no matter how much you exercise the weight just won't come off?&nbsp;
        Have you tried all the "diets" without being able to successfully maintain weight
        loss?
    </p>
    <p>Maybe you have not been doing the right types of exercises or eating the right foods for YOUR body type!</p>
    <p>Are you ready for a real solution to your weight loss struggles?</p>
    <p>Then take charge of your health and live life as it should be with our Customized Weight Loss Blueprint for Life.</p>
    <p>You will get the tools you need to overcome obstacles that have prevented you from turning around your diet and exercise plan.</p>
    <p>By the end of this 6-month program you will:</p>

    <ul>
        <li>Master your fitness plan</li>
        <li>Make certain you are eating right for your body type</li>
        <li>Have the energy to do get it all done </li>
        <li>Feel better than ever</li>
        <li>Transform you life!</li>
    </ul>
    <p>Here’s some of what you receive to complete your makeover:</p>
    <ul>
        <li>Complete nutritional analysis of a one week food log, which will include:
        <ul>
            <li>Daily calorie level</li>
            <li>Macronutrient percentages (percentages of carbohydrates, proteins, fats)</li>
            <li>Micronutrient intake (vitamins, minerals) and what percentages of the recommended daily allowance are achieved</li>
            <li>Overall average for these nutrient categories.  </li>
        </ul></li>
        <li>5 visits
            <ul>
                <li>One 60 to 90 minute initial evaluation of pertinent medical history, physical activity,
                    social history, nutritional intake, etc.&nbsp; We use this information along with your
                    current food log to develop your personalized plan.</li>
                <li>Four 30- to 45-minute follow up visits.&nbsp; In each visit, we continue to adjust your
                    plan as needed to help you achieve your goals.</li>
                <li>One check-in each week via text message or email (based on your preference)</li>
            </ul>
        </li>
        <li>Recommendations for supplements, if needed</li>
        <li>1 Month supply of recommended supplements, if applicable </li>
        <li>Lists of food sources for any nutrients that were found to have been low in the your food log</li>
        <li>One week of personalized menus including “day specific” tips, if applicable OR guide sheets and “mix and match” food lists</li>
        <li>Personalized menu template to help you develop your own menus</li>
        <li>Evaluation of current fitness plan and strategies to improve it, OR development of an initial fitness plan</li>
        <li>In office demonstrations of exercises for plan (if needed)</li>
        <li>Photos/PDFs via email demonstrating exercises (if needed)</li>
        <li>Goal sheet and action plans to keep things under control</li>
    </ul>

    <p><strong>BONUS:</strong>&nbsp; Fast action takers will also get a FREE DNA test (Gene SNP) to further individualize their program.</p>
    <p>
        Are you ready to get your customized blueprint for weight loss?&nbsp; Then @Html.ActionLink("Contact us today", "Index", "Contact")
        to get started!
    </p>
    <p>
        Still have questions?&nbsp; @Html.ActionLink("Fill out our online questionnaire", "StrategySession", "Survey") 
        to apply for a FREE tele-strategy session.
    </p>
</div>

<h3>Weight Loss VIP Program</h3>
<div>
    <p>
        Are you ready to take your weight loss program to the next level?&nbsp; @Html.ActionLink("Contact us ", "Index", "Contact")
        for details.
    </p>
</div>

