@{
    ViewBag.Title = "Health and Wellness Programs";
    ViewBag.Description = @"Our 3-Step Formula for Re-calibrating Your Health or 5-Step System for Transforming Your Health 
provide you personalized guidance to meet your goals.";
}

<h1>General Health & Wellness Programs</h1>

<h3>3-Step Formula for Re-calibrating Your Health</h3>

<p>Are you feeling overwhelmed by all of the nutrition and fitness advice you hear, and that you don’t have time to implement it all?</p>
<p>Do you want to make some changes to your eating habits, but are not sure where to begin?</p>

<h3>Health & Wellness Case Study</h3>

<div>(Click for more details)</div>
<div class="accordion">
    <h3 class="CaseHeading">Case Study - Cindi F.:  42 year old female, BMI = 39.8, otherwise healthy</h3>
    <div>
        <p class="CaseDetails">Cindi has no family history of health problems, is on no medications, and using no supplements.</p>
        <p class="CaseDetails">
            Cindi was first seen by Christine on July 11, 2012.&nbsp; She shared with Christine
            that she didn't like most food, currently was not really eating any vegetables,
            fruits, pasta, or seafood.&nbsp; She did not enjoy eating or figuring out what to
            eat.&nbsp; Even though she did not like many foods and was exercising regularly
            (including sessions with a trainer), she could not seem to lose weight.&nbsp; Her
            goals were to lose weight, find nutritious foods that she would be willing to eat,
            and to set a good example for her infant son.&nbsp; Cindi was very willing to try
            new foods, she just didn't know where to start or how to go about balancing her
            meals to ensure she was meeting her nutritional needs.&nbsp; Christine worked with
            her to identify new foods to try, how to try them, as well as the frequency with
            which to try them.&nbsp; Christine also explained the role of various nutrients
            in overall health as well as weight management to help Cindi develop a long-term
            plan to achieve her goals.&nbsp; By Cindi's third appointment, she had incorporated
            more than 9 different vegetables into her eating plan, as well as 4 different fruits
            that she really enjoyed.&nbsp; She also added some whole grains and seeds that she
            had never had before, had lost weight (BMI down to 37.2), and was well on her way
            of achieving her health and nutrition goals.
        </p>
    </div>
</div>
<div>
    <p>
        If, like Cindi, you are not sure exactly what you should be eating or how much,
        then this program will give you the jumpstart that you need!&nbsp; This 60-day program
        will teach you how to makeover your current diet to start improving your health
        and wellness.
    </p>
    <p>At the end of this 60-day program, you will:</p>
    <ul>
        <li>Increase your energy</li>
        <li>Know what types of foods you should be eating</li>
        <li>Understand how to incorporate physical activity into your daily life</li>
        <li>Have a plan to reach your health and weight management goals</li>
    </ul>
    <p>
        How do we do this?&nbsp; By designing a program especially for you!&nbsp; Here are
        some of the things you can expect to receive:
    </p>

    <ul>
        <li>Basic nutritional analysis of a one day food log, which will include:
            <ul>
                <li>Daily calorie level</li>
                <li>Macronutrient percentages (percentages of carbohydrates, proteins, fats)</li>
                <li>Overall average for these nutrient categories.</li>
            </ul>
        </li>
        <li>One day personalized menu or eating guide utilizing recommendations made based on
            initial assessment and one day food log analysis</li>
        <li>3 visits
            <ul>
                <li>One 60-minute initial evaluation of pertinent medical history, physical activity,
                    social history, nutritional intake, etc.&nbsp; We use this information, along with
                    your current food log, to develop your personalized plan.</li>
                <li>Two 30-minute follow up visits.&nbsp; In each visit, we continue to adjust your
                    plan as needed to help you achieve your goals.</li>
            </ul>
        </li>
        <li>Personalized menu template or guide to help you design your own menus</li>
        <li>Personalized goal sheet with a continuing action plan giving you tips for moving forward</li>
        <li>Tips for increasing your physical activity</li>
    </ul>

    <p>@Html.ActionLink("Contact us", "Index", "Contact") to request this program and jump start your life today!</p>
    <p>
        Still not sure if this is the right program for you?&nbsp; Then 
        @Html.ActionLink("fill out our online questionnaire", "StrategySession", "Survey") to apply for a FREE tele-strategy session.
    </p>
</div>

<h3>5-Step System for Transforming Your Health</h3>
<div>
    <p>Do you feel like you already eat healthy and exercise, but are not getting the results you want?</p>
    
    <div>(Click for more details)</div>
    <div class="accordion">
        <h3 class="CaseHeading">Case Study - Victor A.:  29 year old male diagnosed with hypothyroidism</h3>
        <div>
            <p class="CaseDetails">
                Victor's hypothyroidism was well controlled with medication.&nbsp; His family medical
                history includes cancer, high blood pressure, heart surgery, and thyroid conditions.&nbsp;
                His goals were to improve his own meal preparation skills, learn what kind of foods
                are most nutritious for him to keep his thyroid hormones under control, and to maintain
                a healthy weight.
            </p>
            <p class="CaseDetails">
                At his initial appointment with Christine on August 10, 2012, he weighed 208 pounds
                and had a BMI of 24.0.&nbsp; After analyzing his food log, Christine discovered
                that he was actually NOT eating enough calories to support his exercise routine.&nbsp;
                He was also eating too much protein, not enough carbohydrate and not enough fiber.&nbsp;
                Christine provided him with an example menu utilizing his food preferences while
                still meeting his needs.&nbsp; She also provided him with an instruction sheet of
                how to slowly increase his fiber and carbohydrates to allow his body to adjust without
                causing digestive problems.&nbsp; At his second appointment, he had lost a few pounds
                and his body fat had decreased 2 percentage points.&nbsp; By his final appointment,
                his body fat had decreased to 9%, even though his weight had gone up to 209 pounds.&nbsp;
                He also brought in results from his wellness check up (two days prior) that showed
                improvement in all areas (waist size, blood pressure, etc.).&nbsp; He was comfortable
                with his weight and he now knew what a healthy range was for his height.&nbsp; He
                became confident in knowing how to prepare healthy meals, as well as how to choose
                foods from his worksite cafeteria while maintaining his health and fitness goals.
            </p>
        </div>
    </div>

    <p>If, like Victor, you need some help optimizing your nutrition & fitness plan to reach your goals, this is the program for you.</p>
    <p>
        Our 5-Step System for Transforming Your Health will uncover what is holding you
        back then re-calibrate your eating and exercise plans.&nbsp; The result?&nbsp; Transformation
        of your nutrition and fitness!
    </p>
    <p>You will learn how to fine tune your eating and exercise plans to start achieving the results you want.</p>

    <p>At the end of this 90-day program you will:</p>
    <ul>
        <li>Gain strength</li>
        <li>Increase stamina</li>
        <li>Understand how to “cycle” your eating and exercise plans</li>
        <li>Have strategies for dealing with potential obstacles</li>
        <li>Get the hang of how to keep things under control</li>
    </ul>

    <p>Your personalized program to transform your health includes:</p>
    <ul>
        <li>A complete nutritional analysis of a 3 day food log, consisting of:
            <ul>
                <li>Daily calorie level</li>
                <li>Macronutrient percentages (percentages of carbohydrates, proteins, fats)</li>
                <li>Micronutrient intake (vitamins, minerals) and what percentages of the recommended daily allowance are achieved</li>
                <li>Overall average for these nutrient categories.</li>
            </ul>
        </li>
        <li>A one-week personalized menu including “day specific” tips, if applicable OR guide sheets and “mix and match” food lists</li>
        <li>4 visits
            <ul>
                <li>One 60 to 90 minute initial evaluation of pertinent medical history, physical activity, social history, nutritional intake, etc.  We use this information, along with your current food log, to develop your personalized plan.</li>
                <li>Three 30- to 45-minute follow up visits.&nbsp; In each visit, we continue to adjust your plan as needed to help you achieve your goals.</li>
            </ul>
        </li>
        <li>Lists of food sources for any nutrients that were found to have been low in your 3 day food log</li>
        <li>Supplement recommendations, if applicable</li>
        <li>Personalized menu template to help you develop your own menus</li>
        <li>Goal sheet and action plans to help you continue your journey</li>
    </ul>

    <p><strong>BONUS:</strong>&nbsp; Fast action takers will also get a FREE DNA test (Gene SNP) to further individualize their program.</p>
    <p>
        Don't wait another day!&nbsp; @Html.ActionLink("Contact us now", "Index", "Contact")
        to set up your program and transform your health!
    </p>
    <p>
        Still not certain this is the right program for you?&nbsp; Then 
        @Html.ActionLink("fill out our online questionnaire", "StrategySession", "Survey") to apply for a FREE tele-strategy session.
    </p>
</div>

<h3>VIP Program</h3>
<div>
    <p>
        Are you ready to take your health and fitness to the next level?&nbsp; @Html.ActionLink("Contact us ", "Index", "Contact")
        for details.
    </p>
</div>
